@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

// My variables.
$colour-primary: #E92569;
$colour-secondary: #767676;
$colour-background: #EFEFEF;
$font-header: 'Playfair Display', serif;

// Customise bootstrap variables.
$theme-colors: (
  "primary":    $colour-primary,
  "secondary":  $colour-secondary,
  "light": $colour-background
) !default;

$gray-700: $colour-secondary !default;

$font-family-base: 'Lato', sans-serif;
$headings-color: $colour-primary;

// Import bootstrap with custom variables. 
@import "~bootstrap/scss/bootstrap";

// Import partials AFTER bootstrap so that they override bootstrap styles. 

@import "./partials/universal";
@import "./partials/nav";
@import "./partials/footer";
@import "./partials/carousel";
@import "./partials/tabs";
@import "./partials/accordion";
@import "./partials/paragraph";
@import "./partials/main-header";





