.tabs-container {
    margin: 4rem auto;
    filter: drop-shadow(0px 16px 22px rgba(0,0,0, 0.06) );
}

.tab-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    &.container-one{
        border-radius: 0 10px 10px 10px;
    }
    display: flex;
    border: 1px solid #D1D1D1;
}

#uncontrolled-tab-example-tabpane-first {
    border-radius: 0 10px 10px 10px;
}

.tab-pictures {
    flex: 1; 
    width: 100%; 
}

.tab-info {
    flex: 3;
    padding-left: 1rem;
    color: $colour-secondary;
    .share {
        margin: 0;
        img {
            margin-left: 10px;
        }
    }
}

.tabs-container .nav-link {
    color: $colour-primary;
    border-radius: 10px 10px 0 0;
    &.active{
        border-color: #D1D1D1;
        border-bottom: 1px solid white;
    }
    padding: 1rem 2rem;
    &:hover {
        color: $colour-primary;
    }
}

.nav-tabs {
    border-bottom: none;
}

.tab-pane {
    border-radius: 10px;
}