body {
    margin: 0;
    padding: 0;
    position: relative;
    background: radial-gradient(#FFF, #E5E5E5);  
}

h1 {
    font-family: $font-header;
    margin: 2rem 0;
}

.mobile {
    @media (min-width: 768px){
        display: none; 
    }
}

.not-mobile {
    display: none;
    @media (min-width: 768px){
        display: inherit;
    }
}

.container {
    margin: 10px auto;
}

